@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;600&family=Fira+Code&family=Orbitron&family=Tektur&display=swap');

body {
    background-color: rgb(12, 192, 223);
    margin: 15px 15px 15px 15px;
    
}

.anc {
    color: #000fe2;
    font-weight: bold;

}

header {
    background-color: white;
}

#hub {
    text-align: center;
    background-color: rgb(12, 192, 223);
    
}

#imghub {
    height: 250px;
}

.txt {
    background-color: white;
    color: black;
    font-family: 'Chakra Petch', sans-serif;
    padding: 15px 20px 15px 20px;
    
}

#menu {
    display: inline-block;
}

.itemudb {
    font-style: italic;
    font-weight: bold;
}

.nome {
    margin: 148px;
}

.pessoa {
    text-decoration: underline;
    font-weight: bold;
}

.andamento {
    margin:500px;
    color: red;
    font-weight: bold;
    
}

.cont {
    background-color: rgb(255, 255, 55);
    border-radius: 40px;
    padding: 30px;
}

.creditos {
    background-color: aqua;
}

